<!-- Profile Menu Partial -->
<div id="profilemenu" class="profile-menu" style="position: relative;">
    <img src="~/Images/IMG_20240218_230754.jpg" id="profilePic" style="cursor:pointer; width:40px; border-radius:100%;" />

    <ul id="dropdownMenu" class="bg-dark pt-2" style="display:none; list-style:none; position:absolute; border:1px solid #ccc; padding:10px; right:0;">
        <li><a href="#" id="resetPassword">Reset Password</a></li>
        <li><a href="#" id="logout">Logout</a></li>
    </ul>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script type="text/javascript">

    
    var token = localStorage.getItem("accessToken");
    if (token) {
        $("#profilemenu").show();
    } else {
        $("#profilemenu").hide();
    }
    // Toggle dropdown
    $("#profilePic").click(function(){
        $("#dropdownMenu").toggle();
        });

        // Logout
        $("#logout").click(function () {
            // Step 1: Remove JWT token from cookies
            document.cookie = "accessToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";

            // Step 2: Optional - also clear from sessionStorage/localStorage if used
            sessionStorage.clear("accessToken");
            localStorage.clear("accessToken");

            // Step 3: Redirect to SignIn page
            window.location.href = "/User/SignIn";
        });

        // Reset Password
        $("#resetPassword").click(function(){
            window.location.href = '@Url.Action("ResetPassword", "User")';
        });
</script>
